@model Sahm.Models.User

@{
    ViewBag.Title = "Sahm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahm</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="~/assets/css/userDetailsCSS.css" rel="stylesheet" />
</head>

<div class="container ">
    <div class="header">
        <img src="~/assets/img/logo/Sahm-Logo.png" alt="Sahm Logo" />
        <h1>Hello, @Model.Name</h1>
        <input type="hidden" id="userId" name="UserId" value="@Model.UserId" />
    </div>
    <div class="actions">
        <div class="action" onclick="showDiv('payDiv')">
            <i class="fa fa-credit-card"></i>
            <span>Pay</span>
        </div>
        <div class="action" onclick="showDiv('requestCarDiv')">
            <i class="fa fa-car"></i>
            <span>Request Car</span>
        </div>
        <div class="action" onclick="showDiv('evaluationDiv')">
            <i class="fa fa-smile"></i>
            <span>Evaluation</span>
        </div>
    </div>

    <div id="payDiv" class="content-div">
        <h2>Make a Payment</h2>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="Amount" placeholder="Enter amount" required />
        <br><br>
        <button type="submit" onclick="MakePayment()">Confirm Payment</button>

    </div>

    <div id="requestCarDiv" class="content-div">
        <h2>Request a Car</h2>
        <button type="submit" onclick="RequestCar()">Request Car</button>
    </div>

    <div id="evaluationDiv" class="content-div">
        <h2>Evaluation</h2>
        <div class="emoji-selection">
            <span class="emoji" data-value="happy" onclick="selectEmoji(this)">&#128512;</span>
            <span class="emoji" data-value="neutral" onclick="selectEmoji(this)">&#128528;</span>
            <span class="emoji" data-value="sad" onclick="selectEmoji(this)">&#128577;</span>
        </div>

        <input type="hidden" id="SelectedEmoji" name="Emoji" />
        <label for="comment">Comment:</label>
        <textarea id="comment" name="Comment" placeholder="Enter your comment" rows="3" required></textarea>
        <br><br>
        <button type="submit" onclick="Evaluate()">Submit Evaluation</button>

    </div>
</div>

<script>

</script>
<script src="~/assets/js/user_service.js"></script>